[submodule "deps/libzrtp"]
	path = deps/libzrtp
	url = https://github.com/whitepiatebaku/libzrtp.git
[submodule "deps/prometheus-cpp"]
	path = deps/prometheus-cpp
	url = https://github.com/whitepiatebaku/prometheus-cpp.git
[submodule "deps/sofia-sip"]
	path = deps/sofia-sip
	url = https://github.com/whitepiatebaku/sofia-sip.git
	branch = main
